<p>&nbsp;</p>
<p>&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://s3-ap-southeast-1.amazonaws.com/cdn-sg-origin.ampostech.com/ampos-care/project-email/unnamed_compressed.png" alt="banner"/></p>
<div style="text-align: center;"><strong><span style="font-size: large;">AMPOS CARE 每日報表</span></strong></div>
<div style="text-align: center;"><strong><span style="font-size: large;">&nbsp;</span></strong></div>
<div style="text-align: center;"></div>
<div style="text-align: center;">
   <div>
      <div>&nbsp;</div>
      <div><strong>&nbsp;報表連結&nbsp;</strong></div>
      {replacement_placeholder}
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>
         <div><span style="color: #cc0000;">注意: 為資安考量，報表下載連接有效期間為1天。如有任何問題，<wbr />請聯繫AMPOS團隊。</span></div>
      </div>
   </div>
</div>
<div style="text-align: center;">&nbsp;</div>
<div>
   <div style="text-align: center;"><img class="CToWUd" src="https://s3-ap-southeast-1.amazonaws.com/cdn-sg-origin.ampostech.com/ampos-care/project-email/ampos-care-email-logo-small.png" alt="logo.png" data-image-whitelisted="" /></div>
   <div style="text-align: center;"><span style="color: #999999;">AMPOS與您一起防疫</span></div>
</div>